<!-- Nav item -->
<a @onclick="OnClickCallback" class="block py-2 px-4 text-sm hover:bg-gray-100 bg-white" href="@Url" target="@(NewWindow ? "_blank" : "_self")">@Text</a>

@code {

    [Parameter]
    public string Text { get; set; } = "default";

    [Parameter]
    public string Url { get; set; } = "#";

    [Parameter]
    public bool NewWindow { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

}