<div class="fixed top-0 left-0 z-80 w-screen h-[100lvh] bg-black/70 flex justify-center items-center">
    <!--  Clickable close background -->
    <div class="fixed z-90 inset-0 transition-opacity cursor-pointer" @onclick="CloseModal"></div>

    @ChildContent
    
    <!-- The close button -->
    <a class="fixed z-90 top-4 right-8 p-1 rounded-xl cursor-pointer"
       @onclick="CloseModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-24 md:w-16 lg:w-8 h-auto">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
    </a>
</div>

@code {
    [Parameter, EditorRequired]
    public EventCallback CloseModalClicked { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    private Task CloseModal()
    {
        return CloseModalClicked.InvokeAsync();
    }

}