@page "/Connectivity"
@inject ConnectivityViewModel ViewModel

<h3>Connectivity</h3>

<p>@ViewModel.BluetoothStateMessage</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Todo: Look into this BS. Cus this should be required......
        ViewModel.PropertyChanged += (_, _) => StateHasChanged();
    }
}