@page "/"
@using WirelessCom.Application.ViewModels
@using System.ComponentModel
@inject HomeViewModel ViewModel
@implements IDisposable

@* TODO: Add chart to show temperature and humidity over time. *@

<h1>Room sensors</h1>

@foreach (var sensorData in ViewModel.Data.GroupBy(x => x.DeviceId).Select(x => x.ToList()))
{
    <div class="card">
        <div class="card-header">
            @* TODO: Use custom name https://github.com/NancyTang50/wireless-communication/issues/8 *@
            <h2>@sensorData.First().DeviceId</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <LineChart Title="Temperature" ValueTitle="test value" Data="sensorData" Height="300"/>
            </div>
        </div>
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += HandlePropertyChanged;
        await ViewModel.OnInitializedAsync();
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= HandlePropertyChanged;
        ViewModel?.Dispose();
    }

    private async void HandlePropertyChanged(object? sender, PropertyChangedEventArgs propertyChangedEventArgs)
    {
        await InvokeAsync(StateHasChanged);
    }

}