@page "/"
@using WirelessCom.Application.ViewModels
@using System.ComponentModel
@inject HomeViewModel ViewModel
@implements IDisposable

@* TODO: Add chart to show temperature and humidity over time. *@

<h1>Room sensors</h1>

<LineChart Title="Temperature" ValueTitle="test value" Data="ViewModel.Data"/>

@code {

    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += HandlePropertyChanged;
        await ViewModel.OnInitializedAsync();
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= HandlePropertyChanged;
        ViewModel?.Dispose();
    }

    private async void HandlePropertyChanged(object? sender, PropertyChangedEventArgs propertyChangedEventArgs)
    {
        await InvokeAsync(StateHasChanged);
    }

}